[buildout]
extensions = mr.developer

dump-picked-versions-file = versions-picked.cfg

allow-picked-versions = true
parts =
    omelette
    instance
    test
    zopepy
    docs


package-name = imio.urban.dataimport
package-extras = [test]

parts += omelette

extends =
    http://dist.plone.org/release/4.3.8/versions.cfg
    versions.cfg
develop = .

find-links =
    http://packages.communesplone.be/simple
    http://packages.affinitic.be/simple
    http://dist.plone.org/release/4.3.8/

versions = versions
sources-dir = devel
auto-checkout = Products.urban
                # the following products are urban dependencies which has not been egg released yet..²
                appy
                plone.app.referenceintegrity
                plone.app.linkintegrity
                imio.pm.wsclient
                imio.pm.locales

# Reference any folders where you have Python egg source code under development here
# e.g.: develop = src/my.package
# If you are using the mr.developer extension and have the source code in a
# repository mr.developer will handle this automatically for you
develop = .

[sources]
Products.urban = svn http://svn.communesplone.org/svn/communesplone/Products.urban/tags/1.6.0
# the following products are urban dependencies which has not been egg released yet..²
appy = bzr http://bazaar.launchpad.net/~communesplone/appy/communesplone/
plone.app.referenceintegrity = svn https://svn.plone.org/svn/plone/plone.app.referenceintegrity/trunk
plone.app.linkintegrity = svn https://svn.plone.org/svn/plone/plone.app.linkintegrity/trunk
imio.pm.wsclient = svn http://svn.communesplone.org/svn/communesplone/imio.pm.wsclient/trunk
imio.pm.locales = svn http://svn.communesplone.org/svn/communesplone/imio.pm.locales/trunk

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8081
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
    imio.urban.dataimport
    Products.urban
    ipdb
    iw.debug
    plone.reload

zcml =
    imio.urban.dataimport
    Products.urban
    iw.debug

environment-vars =
    zope_i18n_compile_mo_files true

[zopepy]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = zopepy
scripts = zopepy

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
