[versions]
Products.urban = 1.6.0
Pillow = 1.6
Products.ExternalEditor = 1.1.0
collective.recipe.omelette = 0.10
collective.sphinx.includechangelog = 0.1
collective.sphinx.includedoc = 0.2
repoze.sphinx.autointerface = 0.6.2
five.grok = 1.2
grokcore.annotation = 1.2
grokcore.component = 2.3
grokcore.formlib = 1.5
grokcore.security = 1.5
grokcore.site = 1.2
grokcore.view = 2.2
grokcore.viewlet = 1.8
zope.schema = 3.8.0
zope.component = 3.8.0
# bugfix
collective.js.jqueryui = 1.8.16.9

