*,
*::before,
*::after {
    box-sizing: border-box;
}

.git-graph-layout {
    padding-left: 16px;
    position: relative;
    /* TMP */
    /* background-color: lightcoral; */
}

.commit-layout {
    display: flex;
    margin-left: 0;
    padding-right: 1rem;
    /* margin-bottom: 20px; */
    /* margin-top: 0px; */
    list-style: none;
    /* TMP */
    /* background-color: lightyellow; */

}

.commit-circle-layout {
    margin-top: 4px;
}