*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

p {
    margin-bottom: 0.4rem;
    padding: 0;
}

p:last-child {
    margin-bottom: 0;
}


button {
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.place-right-below {
    position: absolute;
    right: 12px;
    top: 100%;
}

.search-count-style {
    font-size: small;
}

#search-count {
    display: none;
}

.sha-copy-button,
.sha-copy-button:focus {

    padding: 0px;
    margin: 0px;
    margin-left: -16px;
    /* margin-right: -4px; */
    background-color: transparent;
    width: 16px;
    height: 16px;
    /* TMP */
    /* background-color: lightskyblue; */

}

.sha-copy-button:hover {
    background-color: lightgray;

}

.circle {
    display: block;
    width: 16px;
    min-width: 16px;
    height: 16px;

    margin-right: -10px;
    /* position: relative; */
    /* z-index: -1; */

}


.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_title {
    margin: 0px;
    padding: 0px;
}

.header_search_div {
    display: flex;
    position: relative;
    align-items: center;
}

.header_search_input {
    margin: 0px;
    border-radius: 50px;
    border: 1px solid black;
    padding-right: 25px;
}

.header_search_clear_button {
    position: absolute;
    right: 6px;
    width: 16px;
    height: 16px;
    padding: 0px;
    border-radius: 8px;
    background-color: lightgray;
    display: none;
}





.commit-info {
    /* margin-top: -5px; */
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    max-height: 100%;
}

.commit-info.dimmed {
    opacity: 0.2;
    max-height: 1.5rem;
    overflow: hidden;
}




.git-graph-layout::before {
    content: '';
    position: absolute;
    /* top: 8px; */
    left: 7px;
    width: 2px;
    top: 12px;
    height: calc(100% - 4px - 8px);
    background-color: lightgray;
    z-index: -1;
}

.commit-body {
    margin-bottom: 0;
    color: grey;
    font-size: smaller;
}

.submodule-update {
    margin-bottom: 0;
    color: grey;
    font-size: smaller;
}

.numstat-entry {
    margin-bottom: 0;
    color: grey;
    font-size: smaller;
}

.commit-author {
    margin-bottom: 0;
    color: grey;
    font-size: smaller;
}

.commit-author a {
    text-decoration: none;
}

.commit-issue {
    margin-bottom: 0;
    color: rgb(87, 0, 238);
    font-size: smaller;
}

.commit-issue a {
    text-decoration: none;
}

/* .circle:last-child::before {
    height: 0px;
} */


.sha {
    /* font-weight: bold; */
    font-family: 'Courier New', Courier, monospace;
    /* margin-right: 5px; */
    /* TMP */
    /* background-color: lightgreen; */
    flex-shrink: 0;
}

.sha a {
    text-decoration: none;
}

.headline {
    /* margin-top: -20px; */
    /* font-size: 14px; */
}

.commit-date {
    color: gray;
}

.search-highlight {
    background-color: yellow;
    padding: 1px;
    margin: -1px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.commit-additions {
    color: #1a7f37;
}

.commit-deletions {
    color: #d1242f;
}

.repo-root-name {
    margin-bottom: 0.5rem;
}

.integration_request_labels {
    padding: 2px 4px;
    border-radius: 500px;
    border: 1px solid black;
    margin-right: 4px;
    font-size: small;
}