[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"


[project]
name = "auSankey"
version = "1.0"

description = "Sankey diagrams simply"
readme = "README.md"
license = {file = "LICENSE"}

dependencies = [
    "matplotlib",
    "numpy",
    "pandas",
]

requires-python = ">= 3.9"

authors = [
  {name = "Will Robertson", email = "wspr81@gmail.com"},
]
maintainers = [
  {name = "Will Robertson", email = "wspr81@gmail.com"},
]

classifiers = [
  # How mature is this project? Common values are
  #   3 - Alpha
  #   4 - Beta
  #   5 - Production/Stable
  "Development Status :: 4 - Beta",

  # Indicate who your project is intended for
  # "Intended Audience :: Developers",
  # "Topic :: Software Development :: Build Tools",

  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",

  # Specify the Python versions you support here.
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
]


[project.optional-dependencies]
dev = [
    "pylint",
    "pytest",
    "flake8",
    "coverage",
    "coveralls",
]


[project.urls]
Homepage = "https://github.com/AUMAG/auSankey"
Documentation = "https://aumag.github.io/auSankey/"
Repository = "https://github.com/AUMAG/auSankey.git"
Issues = "https://github.com/AUMAG/auSankey/issues"
# Changelog = "https://github.com/me/spam/blob/master/CHANGELOG.md"


[tool.hatch.build.targets.wheel]
packages = ["auSankey"]

[tool.hatch.build.targets.sdist]
ignore-vcs = true

include = [
  "/auSankey/*.py",
  "/tests/*.py",
  "/tests/*.csv", 
]
exclude = [
  # "*.json",
]