# pyproject.toml

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "customisedLogs"
version = "1.1.0"
description = "A simple program to have coloured logs in the terminal."
readme = "README.md"
maintainers = [{ name = "Bhindi", email = "bhaskarpanja93@gmail.com" },
           { name = "riyapuri0710", email = "riyapuri0710@gmail.com" }]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = ["log", "logs", "pretty", "prettified", "color", "colored", "coloured logs", "colored logs"]
requires-python = ">=3.6"
dependencies = ["colr>=0.9.1"]

[project.urls]
Homepage = "https://github.com/BhaskarPanja93/OpenSource"

[project.scripts]
pooledMySQL = "customisedLog.customisedLog.__main__:main"

[tool.bumpver]
current_version = "1.1.0"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "bump version {old_version} -> {new_version}"
tag_message = "{new_version}"
tag_scope = "default"
pre_commit_hook = ""
post_commit_hook = ""
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"',
]

