/* Note that this code is managed by python text substitution*/

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: url('$frontend_url/static/media/titillium-web-latin-700.704fc425.woff2')
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: url('$frontend_url/static/media/titillium-web-latin-600.5d5145c1.woff2')
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url('$frontend_url/static/media/titillium-web-latin-400.811f6a5b.woff2')
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: url('$frontend_url/static/media/titillium-web-latin-300.e7bd2929.woff2')
}